html {
    font-size: 14px;
    background: #DEF2D9;
    background-image:
        radial-gradient(#fff 20%, transparent 0),
        radial-gradient(#fff 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
}

.main {
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    margin: 16px auto;
    border-radius: 40px;
    padding: 16px 0px;
    padding-bottom: 16px;
    background: #F5F8FF;
    color: #686868;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.08);
}

h1 {
    background: #FFFAE5;
    box-sizing: border-box;
    padding: 16px 24px;
    margin: 32px auto;
    position: relative;
    border-radius: 40px;
    max-width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.08);
}

.input__form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
  }

  .form__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    justify-content: center;
    align-items: justify;
  }

  h6 {
    display: inline;
    font-weight: 800;
    font-size: 1.25rem;
    margin: 8px auto;
    color: #845E44;
    text-align:center
  }

  .input__group {
    display: inline;
    flex-direction: column;
    margin: 8px;
    text-align:center
  }

  .input__check-buttons {
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: start;
    text-align:center;
    align-items: justify;
    margin: 10px 10px 10px 10px;
  }

  input{
    text-align: center;
  }